body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #ebffde;
}

header{
    display: flex;
    height: 150px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 36px;
    background: #D5FAC6;
    color: rgb(0, 0, 0);
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}

header h1{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 100px;
  margin-right: 0px;
}

header p{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 100px;
  margin-right: 0px;
  padding: 0;
  font-size: 24px;
}

.mat {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 0px;
  justify-content: center;
  margin: 30px 0;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 0;
  border: 2px solid black;
  margin: 0;
  transition: all 0.2s;
}

.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.yellow { background: yellow; }
.orange { background: rgb(255, 140, 0); }

.controls button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.hidden {
  display: none;
}

.homeButton{
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
}

.RestartButton{
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
}

.backButton{
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
}

.Btn{
    width: 90px;
    height: 90px;
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
}

.Btns{
    display: flex;
    gap: 20px;
}

.Btn :hover{
    transform: scale(1.2);
}

.instruction{
    padding: 5px;
    border: solid 10px;
    border-radius: 30px;
    background-color: #ffd59b;
    display: flex;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 15%;
    height: auto;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
    border-color: #6b4400;
    box-shadow:#3c5d2f 0px 4px 8px 0px, rgb(0, 0, 0) 0px 6px 20px 0px;
}

.YouCanDoIt{
    width: 15%;
    height: auto;
    margin: -50px auto;
}

.Awsome{
    width: 15%;
    height: auto;
    margin: -30px auto;
}

.Rdot{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  margin-left:5px;
  vertical-align:middle;
  border:2px solid black;
}

.instruction-step {
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:60px;
  font-weight:bold;
}


.circle.pressed {
  transform: scale(0.9);
}

.circle.correct {
  box-shadow: 0 0 50px lime;
}

.circle.wrong {
  box-shadow: 0 0 50px red;
}

.foothandimg{
  width: 50px;
  height: 50px;
}

.alert{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 40px;
    border: rgb(155, 0, 0) solid 10px;
    border-radius: 30px;
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    margin: auto;
    display: none; /* 初始隱藏 */
    position: fixed; /* 固定在螢幕上 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* 確保在最上層 */
}

.alertText{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
}

.alertText h1{
    justify-content:start;
    align-items: center;
    margin-left: -100px;
}

.exmark{
    width: 100px;
    height: 100px;
}

.alertBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.alert p{
    margin-top: -50px;
    padding: 0;
}

.comfirm-button{
    width: 120px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    border: solid 5px rgb(255, 2, 2);
    cursor: pointer;
    background-color: rgb(255, 210, 210);
    margin-top: -20px;
    margin-bottom: 20px;
}

.cancel-button{
    width: 120px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    border: solid 5px rgb(2, 255, 65);
    cursor: pointer;
    background-color: rgb(210, 255, 216);
    margin-top: -20px;
    margin-bottom: 20px;
}