body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #ebffde;
}

header{
  height: 150px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 36px;
  background: #D5FAC6;
  color: rgb(0, 0, 0);
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

header h1{
  margin: 1px;
}

header p{
  margin: 1px;
  padding: 0;
  font-size: 24px;
}

.controls button {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  border: solid 20px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 60px;
  background-color: #ffd59b;
  color:rgb(52, 0, 0);
  border-color: rgb(248, 154, 4);
  font-weight: 900;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  box-shadow:rgb(172, 108, 4) 0px 4px 8px 0px, rgb(0, 0, 0) 0px 6px 20px 0px;
}

.controls :hover {
  transform: scale(1.1);
}

.RLFoot{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: -40px;
}

.Rfoot{
  margin-left: 20px;
}

.Rdot{
  justify-content: center;
  align-items: center;
  border: solid 2px;
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
}

.Bdot{
  border: solid 2px;
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
}

.Ydot{
  border: solid 2px;
  background-color: yellow;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
}

.Gdot{
  border: solid 2px;
  background-color: green;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
}

.Odot{
  border: solid 2px;
  background-color: orange;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
}

.Dots{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -50px;
}

.Dots1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.instruction{
  border: solid 10px;
  border-radius: 30px;
  background-color: #ffd59b;
  display: block;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 28px;
  font-weight: bold;
  width: 50%;
  height: auto;
  margin: 15px auto;
  justify-content: center;
  border-color: #6b4400;
  box-shadow:#3c5d2f 0px 4px 8px 0px, rgb(0, 0, 0) 0px 6px 20px 0px;
}

.instruction h2{
  margin: 1px;
}

.introText{
  margin: 0;
  padding: 0 20px;
}

.foothandimg{
  width: 50px;
  height: 50px;
}

.HF{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.H{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.H p{
  margin-left: 0px;
}

.handimg{
  width: 50px;
  height: 50px;
}

.F{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: px;
}

.F p{
  margin-left: 0px;
}

.footimg{
  width: 50px;
  height: 50px;
}
